<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>請注意有一筆委託單已成交</h1>
    <p>
      委託人"<%= @starter.username %>" 與 "<%= @closer.username %>" 已經完成一筆交易
    </p>
    <p>
      如需更詳細的委託單相關資訊，請登入 <%= @url %>.
    </p>
    <p>謝謝您的參與，祝您有個美好的一天</p>
  </body>
</html>